.HoverInformation {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #35353a;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  transition: 300ms;
  opacity: 0;
  top: 0;

}

.ClassPart {
  width: 570px;
  height: 550px;
  background-color: #202020;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 8px;
  margin: auto;
  h1 {
    text-align: center;
    margin-top: 25px;
    color: #50cb70;
  }
  .ClassActions {
    width: 100%;
    height: 425px;
    scroll-behavior: smooth;
    margin: auto;
    position: absolute;
    left: 0;
    overflow: auto;
    right: 0;
    top: 20%;
    ul {
      list-style-type: none;
      gap: 1em;
      justify-content: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        margin-left: 25px;
        width: 150px;
        height: 200px;
        background-color: #303030;
        padding: 8px;
        position: relative;
        border-radius: 8px;
        .Buttons {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 5%;
          margin: auto;
          display: flex;
          justify-content: center;
          width: 140px;
          height: 25px;
          button {
            width: 60px;
            outline: none;
            cursor: pointer;
            color: #202020;
            margin-left: 7px;
            border: none;
            border-radius: 8px;
            transition: 200ms;
            height: 25px;
            background-color: rgb(80, 203, 112);
          }
          button:hover {
            box-shadow: 0 0 10px 1px rgb(80, 203, 112);
          }
        }
        strong {
          display: block;
          margin-left: 5px;
          color: #50cb70;
        }
        h5 {
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        p {
          margin-top: 5px;
          font-weight: 400;
          color: #fff;
          font-size: 12px;
        }

      }
      li:hover {
        .HoverInformation {
          opacity: 1;
        }
      }
    }
  }
}