.PdfActions {
  width: 550px;
  height: 550px;
  background-color: #202020;
  position: absolute;
  right: 5%;
  top: 20%;
  border-radius: 8px;
  margin: auto;
  h1 {
    text-align: center;
    margin-top: 25px;
    color: #50cb70;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    padding: 30px;
    li {
      width: 150px;
      height: 150px;
      border-radius: 4px;
      background-color: #171717;
      position: relative;
      h1 {
        font-size: 16px;
        font-weight: 500;
      }
      button {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        width: 75px;
        height: 25px;
        background-color: #50cb70;
        outline: none;
        border: none;
        border-radius: 4px;
        color: #151515;
        cursor: pointer;
      }
    }
  }
}

.Preview {
  position: relative;
  display: grid;
  place-items: center;
}