* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.MaxPlanSettings {
  width: 1500px;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0; margin: auto;
  height: 700px;
  display: grid;
  place-items: center;
  background: rgba(32, 32, 32, 0.25);
  .Refresh {
    width: 50px;
    height: 50px;
    background: transparent;
    outline: none;
    left: 2%;
    top: 2%;
    position: fixed;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    color: #50cb70;
    font-size: 35px;
    transition: 300ms;
  }
  .Refresh:hover {
    transform: rotateZ(180deg);
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 5em;
    list-style-type: none;
    li {
      height: 600px;
      border-radius: 5px;
      width: 400px;
      position: relative;
      background: rgba(32, 32, 32, 0.25);
      .h1 {
        color: #50cb70;
        margin: 20px auto;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding: 15px 80px;
        border-radius: 5px;
        position: absolute;
        left: 0; right: 0;
        background: rgba(32, 32, 32, 0.60);
      }
      .Classes {
        width: 100%;
        height: 58%;
        display: flex;
        position: absolute;
        bottom: 20%;
        flex-direction: row;
        overflow: auto;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        .Detail {
          width: 300px;
          height: 250px;
          border-radius: 5px;
          background: rgba(32, 32, 32, 0.50);
          position: relative;
          h1 {
            font-size: 25px;
            color: white;
            text-align: center;
            margin-top: 10px;
            font-weight: 400;
          }
          .Delete {
            width: 100%;
            height: fit-content;
            display: flex;
            position: absolute;
            bottom: 15%;
            left: 8%;
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              transition: 300ms;
              cursor: pointer;
              display: flex;
              place-items: center;
              justify-content: center;
              font-size: 22px;
              gap: 0.3em;
            }
            button:hover {
              color: indianred;
            }
          }
          .Edit {
            width: fit-content;
            height: fit-content;
            display: flex;
            position: absolute;
            right: 5%;
            top: -12%;
            bottom: 0;
            margin: auto;
            place-items: center;
            flex-direction: column;
            gap: 0.8em;
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              transition: 300ms;
              cursor: pointer;
              font-size: 20px;
            }
            button:hover {
              color: #50cb70;
              transform: rotateZ(45deg);
            }
          }
          .ClassInfo {
            width: fit-content;
            height: fit-content;
            display: flex;
            position: absolute;
            top: 17%;
            margin: auto 25px;
            justify-content: center;
            flex-direction: column;
            gap: 1em;
            h2 {
              color: white;
              font-size: 20px;
              font-weight: 400;
              display: flex;
              place-items: center;
              gap: 0.3em;
            }
          }
        }
      }
      .AddPDF {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 10%;left: 0; right: 0;
        margin: auto;
        button {
          padding: 5px 15px;
          background: #50cb70;
          outline: none;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          transition: 300ms;
        }
        button:hover {
          background: #9dfeb7;
        }
      }
      .Informations {
        width: 100%;
        height: 58%;
        display: flex;
        position: absolute;
        bottom: 20%;
        flex-direction: row;
        overflow: auto;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        .Detail {
          width: 300px;
          height: 200px;
          border-radius: 5px;
          background: rgba(32, 32, 32, 0.50);
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 1em;

          .Lesson {
            width: 100%;
            height: 35px;
            display: flex;
            position: relative;
            justify-content: center;
            h1 {
              left: 5%;
              top: 15%;
              position: absolute;
              font-size: 25px;
              color: #50cb70;
              display: flex;
              place-items: center;
            }
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              position: absolute;
              right: 5%;
              top: 15%;
              transition: 300ms;
              cursor: pointer;
              font-size: 20px;
            }
            button:hover {
              color: #50cb70;
              transform: rotateZ(44deg);
            }
          }
          .Mail {
            height: 35px;
            width: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            h1 {
              left: 5%;
              width: 220px;
              overflow: auto;
              top: 15%;
              scroll-behavior: smooth;
              position: absolute;
              font-size: 25px;
              color: #50cb70;
              display: flex;
              justify-content: center;
              place-items: center;
            }
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              position: absolute;
              right: 5%;
              top: 15%;
              transition: 300ms;
              cursor: pointer;
              font-size: 20px;
            }
            button:hover {
              color: #50cb70;
              transform: rotateZ(44deg);
            }
          }
          .Name {
            margin-top: 25px;
            height: 35px;
            width: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            h1 {
              left: 5%;
              top: 15%;
              position: absolute;
              font-size: 25px;
              color: #50cb70;
              display: flex;
              place-items: center;
            }
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              position: absolute;
              right: 5%;
              top: 15%;
              transition: 300ms;
              cursor: pointer;
              font-size: 20px;
            }
            button:hover {
              color: #50cb70;
              transform: rotateZ(44deg);
            }
          }
        }
      }
      .ReturnHome {
        position: absolute;
        bottom: 12%;
        font-size: 25px;
        left: 0; right: 0; margin: auto; width: fit-content; height: fit-content;
      }
      .Presentations {
        width: 100%;
        height: 58%;
        display: flex;
        position: absolute;
        bottom: 20%;
        flex-direction: row;
        overflow: auto;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        .Detail {
          width: 300px;
          height: 125px;
          border-radius: 5px;
          background: rgba(32, 32, 32, 0.50);
          position: relative;
          .RealConnection {
            opacity: 0;
            position: absolute;
            transition: 300ms;
            bottom: 20%;
            color: white;
            left: 6.5%;
            font-size: 11px;
          }
          .FakeConnection {
            transition: 300ms;
            opacity: 1;
            position: absolute;
            bottom: 20%;
            color: white;
            left: 6.5%;
            font-size: 11px;
          }
          h1 {
            left: 5%;
            top: 15%;
            position: absolute;
            font-size: 25px;
            color: #50cb70;
            display: flex;
            place-items: center;
          }
          button {
            background: transparent;
            outline: none; border: none;
            color: white;
            position: absolute;
            right: 5%;
            top: 15%;
            transition: 300ms;
            cursor: pointer;
            font-size: 21px;
          }
          button:hover {
            color: #50cb70;
            transform: rotateZ(45deg);
          }
          .Remove {
            position: absolute;
            right: 5%;
            bottom: 35%;
            button {
              background: transparent;
              outline: none; border: none;
              color: white;
              transition: 300ms;
              cursor: pointer;
              font-size: 25px;
            }
            button:hover {
              color: indianred;
              transform: rotateZ(12deg);
            }
          }
        }
        .Detail:hover {
          .RealConnection {
            opacity: 1;
          }
          .FakeConnection {
            opacity: 0;
          }
        }
      }
    }
  }
}