* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.Board {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto; }
  .Board .Draw {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    background: #fff; }
    .Board .Draw .RightCorner {
      position: fixed;
      top: 2%;
      transition: 300ms;
      opacity: 0;
      right: 2%;
      width: 200px;
      background: transparent;
      z-index: 12;
      height: 150px; }
      .Board .Draw .RightCorner label {
        margin-top: 15px;
        display: flex;
        flex-direction: column; }
        .Board .Draw .RightCorner label input[type="range"] {
          border: none;
          width: 200px;
          outline: none;
          border-radius: 8px;
          -webkit-appearance: none;
          appearance: none;
          height: 10px;
          background: #50cb70;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s; }
        .Board .Draw .RightCorner label button {
          width: 200px;
          height: 25px;
          cursor: pointer;
          background: indianred;
          color: #101010;
          border: none;
          outline: none; }
    .Board .Draw .RightCorner:hover {
      opacity: 1; }
    .Board .Draw img {
      transition: 300ms;
      z-index: 10; }
    .Board .Draw .Grid {
      background-color: transparent;
      background-image: linear-gradient(0deg, transparent 24%, #101010 25%, #101010 26%, transparent 27%, transparent 74%, #101010 75%, #101010 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, #101010 25%, #101010 26%, transparent 27%, transparent 74%, #101010 75%, #101010 76%, transparent 77%, transparent);
      height: 100%;
      background-size: 40px 40px; }
    .Board .Draw .Line {
      background-color: transparent;
      background-image: linear-gradient(0deg, transparent 24%, #101010 25%, #101010 26%, transparent 27%, transparent 74%, #101010 75%, #101010 76%, transparent 77%, transparent);
      height: 100%;
      background-size: 5px 40px; }
    .Board .Draw .Dot {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      background-image: radial-gradient(#000000 2px, transparent 1px);
      background-size: 40px 40px; }
    .Board .Draw .Panel {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      transform: translateX(-130%);
      margin: auto;
      width: 1%;
      transition: 500ms;
      display: flex;
      place-items: center;
      justify-content: center;
      height: 100%;
      background: transparent;
      box-shadow: 0 0 5px #353535; }
      .Board .Draw .Panel ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        place-items: center;
        list-style-type: none; }
        .Board .Draw .Panel ul li {
          box-shadow: 0 0 5px #353535;
          background: transparent;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: grid;
          color: #7de29b;
          transition: 300ms;
          justify-content: center;
          cursor: pointer;
          place-items: center; }
        .Board .Draw .Panel ul li:hover {
          background: #50cb70;
          color: #101010; }
  .Board .Panel:hover {
    width: 5%;
    background: #101010;
    transform: translateX(0); }

.SelectVideoForBoard {
  width: 1000px;
  height: 400px; }
  .SelectVideoForBoard ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    overflow: auto;
    place-items: center;
    gap: 3em;
    flex-direction: column;
    height: 100%; }
    .SelectVideoForBoard ul li {
      width: 650px;
      height: 150px;
      position: relative;
      background: rgba(32, 32, 32, 0.25);
      border-radius: 5px;
      color: white;
      display: flex;
      transition: 300ms;
      cursor: pointer;
      place-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 15px; }
      .SelectVideoForBoard ul li strong {
        display: flex;
        place-items: center;
        justify-content: center; }
    .SelectVideoForBoard ul li:hover {
      transform: scale(1.05);
      color: #9dfeb7;
      background: rgba(64, 64, 64, 0.25); }

/*# sourceMappingURL=whiteboard.css.map */
