@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #151515;
}

.Setup {
  width: 1200px;
  height: 600px;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  .Sections {
    width: 250px;
    height: 35px;
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    ul {
      justify-content: center;
      place-items: center;
      list-style-type: none;
      display: flex;
      gap: 1em;
      #act {
        a {
          color: #a1a5f5;
        }
        border-color: #6a6fe7;
      }
      li {
        width: 35px;
        border-radius: 4px;
        height: 35px;
        border-width: 1px;
        border-style: none none solid none;
        border-color: #ffffff;
        transition: 300ms;
        cursor: pointer;
        a {
          color: white;
          width: 100%;
          height: 100%;
          display: grid;
          transition: 300ms;
          justify-content: center;
          place-items: center;
          font-size: 25px;
        }

      }
      li:hover {
        border-color: #6a6fe7;
        a {
          color: #a1a5f5;
        }
      }

    }
  }
  .Corpus {
    width: 800px;
    height: 500px;
    background-color: #161616;
    position: absolute;
    border-radius: 4px;
    left: 0; right: 0;
    top: 15%; margin: auto;
    .User {display: block;}
    .Class {
      display: none;
      .Preview {
        overflow: auto;
        scroll-behavior: smooth;
        width: 800px;
        height: 240px;
        ul {
          list-style-type: none;
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 0.8em;
          justify-content: center;
          li {
            border-radius: 4px;
            background-color: #202020;
            display: flex;
            width: 100%;
            place-items: center;
            justify-content: left;
            padding-left: 25px;
            p {
              color: white;
            }
            button {
              width: 25px;
              margin-right: 10px;
              outline: none; border: none;
              border-radius: 3px;
              background-color: #d85424;
              color: #202020;
              display: grid;
              place-items: center;
              height: 25px;
              cursor: pointer;
              transition: 300ms;
            }
            button:hover {
              color: #fff;
              background-color: #d85424;
            }
          }
        }
      }
      ul {
        li {
          form {
            display: flex;
            place-items: center;
            button {
              margin-top: 10px;
              margin-left: 50px;
              width: 25px;
              outline: none; border: none;
              border-radius: 3px;
              background-color: #50cb70;
              color: #202020;
              display: grid;
              place-items: center;
              height: 25px;
              cursor: pointer;
              transition: 300ms;
            }
            button:hover {
              color: #fff;
              background-color: #6a6fe7;
            }
          }
        }
      }
    }
    .Pdf {
      display: none;
      .Preview {
        overflow: auto;
        scroll-behavior: smooth;
        width: 800px;
        height: 240px;
        ul {
          list-style-type: none;
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 0.8em;
          justify-content: center;
          li {
            border-radius: 4px;
            background-color: #202020;
            display: flex;
            width: 100%;
            place-items: center;
            justify-content: left;
            padding-left: 25px;
            p {
              color: white;
            }
            button {
              width: 25px;
              margin-right: 10px;
              outline: none; border: none;
              border-radius: 3px;
              background-color: #d85424;
              color: #202020;
              display: grid;
              place-items: center;
              height: 25px;
              cursor: pointer;
              transition: 300ms;
            }
            button:hover {
              color: #fff;
              background-color: #d85424;
            }
          }
        }
      }
      ul {
        li {
          form {
            display: flex;
            place-items: center;
            button {
              margin-top: 10px;
              margin-left: 50px;
              width: 25px;
              outline: none; border: none;
              border-radius: 3px;
              background-color: #50cb70;
              color: #202020;
              display: grid;
              place-items: center;
              height: 25px;
              cursor: pointer;
              transition: 300ms;
            }
            button:hover {
              color: #fff;
              background-color: #6a6fe7;
            }
          }
        }
      }
    }

    .DoSetup {
      width: fit-content;
      height: 30px;
      position: absolute;
      margin: auto;
      bottom: 20%;
      left: 0; right: 0;
      p {
        width: 500px;
        text-align: center;
        cursor: pointer;
        display: grid;
        place-items: center;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        height: 30px;
        transition: 300ms;
        background-color: #d85424;
      }
      p:hover {
        border-radius: 2px;
      }
      button {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 15px;
        width: 150px;
        border-radius: 5px;
        color: #202020;
        height: 30px;
        transition: 300ms;
        background-color: #50cb70;
      }
      button:hover {
        border-radius: 2px;
      }
    }
    .Checkbox {
      width: 650px;
      height: 100px;
      margin: auto;
      position: absolute; left: 0; right: 0; bottom: 35%;
      ul {
        li {
          display: flex;
          width: 160px;
          height: 50px;
          color: white;
          place-items: center;
          p {
            display: grid;
            place-items: center;
            margin-left: 6px;
            color: #50cb70;
            margin-top: 3px;
          }
        }
      }
    }
    h1 {
      color: #b7b9f7;
      text-align: center;
      margin-top: 25px;
    }
    ul {
      padding: 25px;
      list-style-type: none;
      width: 100%;
      height: fit-content;
      display: flex;
      place-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3em;
      li {
        width: 200px;
        height: 60px;
        display: grid;
        justify-content: center;
        label {
          font-size: 20px;
          font-weight: 400;
          color: #d6d8fb;
        }
        input {
          width: 150px;
          outline: none;
          border-width: 1px;
          border-style: none none solid none;
          border-radius: 1px;
          margin-left: 25px;
          border-color: #ffffff;
          height: 30px;
          background-color: #161616;
          color: white;
        }
      }
    }
  }
  .Caput {
    display: flex;
    font-family: 'Inter', serif;
    h1 {
      color: #fff;
      z-index: 5;
      filter: drop-shadow(25px 15px 30px #3035de);
      animation: setup_header_h1 2s 3s infinite ease-in-out;
    }
    h1:after {
      font-size: 12px;
      font-weight: 200;
      content: ' Kurulum';
      color: white;
    }
    .Developer {
      color: white;
      height: fit-content;
      position: absolute;
      right: -5%;
      top: 0;
      bottom: 0;
      gap: 1em;
      place-items: center;
      display: flex;
      font-size: 30px;
      a {
        display: flex;
        place-items: center;
        justify-content: left;
        text-decoration: none;
        color: #fff;
        transition: 300ms;
        cursor: pointer;
        width: 250px;
        .Name {
          font-size: 12px;
          color: white;
          transition: 300ms;
          margin-top: 5px;
          opacity: 0;
        }
      }
      a:hover {
        color: #bbbeff;
        .Name {
          opacity: 1;
          margin-left: 10px;
          transform: translateX(0%);
        }
      }
    }
  }
}

@keyframes setup_header_h1 {
  0% {filter: drop-shadow(25px 15px 80px #3035de);}
  25% {filter: drop-shadow(60px 25px 50px #3035de);}
  50% {filter: drop-shadow(-35px -15px 50px #3035de); color: #bbbeff}
  75% {filter: drop-shadow(-25px -5px 90px #3035de);}
  100% {filter: drop-shadow(25px 15px 60px #3035de);}
}